# 币安API配置
BINANCE_API_KEY=YnsLUQkfzmBE0SrkNE3IOVwR1VSxZjS6lOAkYlkgBUlup4idTgfN552ZkVHKU9LM
BINANCE_SECRET=7lJezp8ba6EARqEokzBxTgxOwUVz5gUmg9UeVSsjpoltTk40HuWOGmzJEolnRjkb

# 欧易API配置
OKX_API_KEY=bdd77c67-bce5-4110-8cf3-c66904416de0
OKX_SECRET=2D3B81FC07D2918C3C70AAB6D7A3F3AC
OKX_PASSWORD=Abc!12345678

自有API，已删除