# 币安API配置
BINANCE_API_KEY=9QgsELwe3JRxOeKEXtwfifISxOkYbKEeTk4cxvXGeBzFrGgUa6KZsQozBJ3eJ9Zh
BINANCE_SECRET=UX49I4SRHZNRDhfR15qA3kllgheZOOV4giTIfuhVFCKN64amGuJtnAzXUAsAIZ9G

# 欧易API配置
OKX_API_KEY=bdd77c67-bce5-4110-8cf3-c66904416de0
OKX_SECRET=2D3B81FC07D2918C3C70AAB6D7A3F3AC
OKX_PASSWORD=Abc!12345678